<!------------------- Home Page ------------------------->
<!--- Main of the website. Acts as the landing page. ---->

<section class="hero is-primary is-bold">
  <div class="hero-body">
  <div class="container">
    <div class="centered" id="rcorners">
      <h1 class="title" id="text-outline" style="font-size: 50px">
        <b>Welcome to LDAT!</b>
      </h1>
      <h2 class="subtitle" id="text-outline" style="font-size: 25px">
        <i>LDAT is a data visualization and analysis tool to view and analyze LiDAR point clouds of real-time street traffic throughout the city of Reno, Nevada. Start visualizing and analyzing data sets today by going to the data explorer form.</i>
      </h2>

      <button mat-raised-button class="btn btn-primary-outline pull-right" color="accent" (click)="btnClick();"><i class="fa fa-plus"></i>Get Started!</button>
    </div>
  </div>
  </div>
</section>
