<!--<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
    <div class="container">

      <div class="center">
        <h1 class="title">Welcome to the LiDAR Data Viz Tool!</h1>
      </div>

    </div>
    </div>
</section>-->

<section class="hero is-primary is-bold">
  <div class="hero-body">
  <div class="container">
    <div class="centered">
      <h1 class="title" id="text-outline" style="font-size: 32px">
        Welcome to the LiDAR Data Viz Tool!
      </h1>
      <h2 class="subtitle" id="text-outline" style="font-size: 25px">
        A tool to view and analyze LiDAR point clouds.
      </h2>
    </div>
  </div>
  </div>
</section>
