<section class="hero is-primary is-bold">
    <div class="hero-body">

      <div class="header">
        <h1>Settings</h1>
      </div>

      <div class="container">

      <!------Select Color for Point Cloud---------->
      <h2 class="is-bold">Appearance</h2>
      <label id="radio-group-label">Change Point Cloud Color</label>
      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group"
        [(ngModel)]="selectedColor">
        <mat-radio-button class="radio-button" *ngFor="let color of colors" [value]="color">
          {{color}}
        </mat-radio-button>
      </mat-radio-group>
      <div>Your selected color is: {{selectedColor}} </div>

      <!------Select Theme Color of application---------->
      <h2 class="is-bold">Change Theme</h2>
        <mat-slide-toggle color="primary">
          Primary Theme
        </mat-slide-toggle> <br />
        <br />
        <mat-slide-toggle color="accent">
          Accent Theme
        </mat-slide-toggle>
        <br />
        <br />
        <mat-slide-toggle color="warn">
          Warn Theme
        </mat-slide-toggle>

    </div>
    </div>
</section>