<section class="hero is-primary is-bold">
    <div class="hero-body">
    <div class="container">

      <h1 class="title is-bold">Settings</h1>

      <h2 class="is-bold">Change Theme</h2>
        <mat-slide-toggle color="primary">
          Slide me to get the primary theme!
        </mat-slide-toggle> <br />
        <br />
        <mat-slide-toggle color="accent">
          Slide me to get the accent theme!
        </mat-slide-toggle>
        <br />
        <br />
        <mat-slide-toggle color="warn">
          Slide me to get the warn theme!
        </mat-slide-toggle>

    </div>
    </div>
</section>