/* Button Group for Data Appearance */
.button-group {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

/* Color Picker Styling */
.color-wheel-group {
  display: flex;
  align-content: center;
  align-items: center;
  height: 20px;
}

/* Button Margin */
.radio-button {
  margin: 5px;
}

/* Set Size and border for section headers */
h2 {
  font-size:  1.5em;
  border-bottom: 1px solid #aaaaaa;
}

/* Add additional padding to material groups */
mat-radio-group, mat-slide-toggle {
  padding: 20px;
}

/* Adds padding to content container */
.container {
    padding: 40px;
}