/* Button Group for Data Appearance */
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

/* Button Margin */
.radio-button {
  margin: 5px;
}

h2 {
  font-size:  1.5em;
  border-bottom: 1px solid #aaaaaa;
}

mat-radio-group, mat-slide-toggle {
  padding: 20px;
}

.container {
    padding: 40px;
}