/* Grid Layout used at the top of the page to show the location and spinner */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

/* Configure items for top of the page */
.alignleft {
  float: left;
  width:31%;
  padding-left: 20px;
  text-align:left;
}
.aligncenter {
  float: left;
  width:33.3333%;
  text-align:center;
}
.alignright {
 float: left;
 width:33.3333%;
 text-align:right;
}

/* Align Charts */
.align-chart-left {
  float: left;
  width:85%;
  height:85%;
  align-items:left;
}

.align-chart-center {
  float: left;
  width:100%;
  align-items:center;
}

.align-chart-right {
 float: left;
  width:85%;
  height:85%;
 align-items:right;
}

/* Align Headers for Charts */
.align-header-center {
  float: left;
  width:50%;
  text-align:center;
}

/* Add shadow element to mat-card */
.mat-card {
    box-shadow: 0.2em 0.2em 0.6em rgba(0,0,0,0.3);
}