/* Configure items for top of the page */
.alignleft {
  float: left;
  width:31%;
  padding-left: 20px;
  text-align:left;
}
.aligncenter {
  float: left;
  width:33.3333%;
  text-align:center;
}
.alignright {
 float: left;
 width:33.3333%;
 text-align:right;
}

/* Align Charts */
.align-chart-left {
  float: left;
  width:85%;
  height:85%;
  align-items:left;
}

.align-chart-center {
  float: left;
  width:100%;
  align-items:center;
}

.align-chart-right {
 float: left;
  width:85%;
  height:85%;
 align-items:right;
}

#line-chart-parent {
  display: grid;
}

/* Align Headers for Charts */
.align-header-center {
  float: left;
  width:50%;
  text-align:center;
}