/* Align Charts */
.align-chart-left {
  float: left;
  width:50%;
  align-items:left;
}

.align-chart-right {
 float: left;
 width:50%;
 align-items:right;
}

/* Align Headers for Charts */
.alignleft {
  float: left;
  width:50%;
  text-align:left;
}

.aligncenter {
  float: left;
  width:50%;
  text-align:center;
}

.alignright {
  float: left;
  width:50%;
  text-align:right;
}