<section class="hero is-primary is-bold">
    <div class="hero-body">
    <div class="container">

      <h1 class="title">About</h1>

      <p>
      	The LiDAR Data Visualization Tool is a highly adaptable software that creates visualizations based on user needs. It pulls data from LiDAR sensors that are currently located outside the University of Nevada, Reno on the corner of Virginia Street and 15th Street. This project has plans for expansion with more sensors being added to the network.

      </p>

    </div>
    </div>
</section>
