.card-container-right{
  display: inline;
  float: right;
}

.card-container-left{
  display: inline;
}


/*h2 {
    font-size: 1.5em;
    color:  white;
    background-color: #3f51b5;
}*/

h2 {
  font-size:  1.5em;
  border-bottom: 1px solid #aaaaaa;
}

p {
  padding: 20px;
}

.container {
    padding: 40px;
}