<section class="hero is-primary is-bold">
    <div class="hero-body">
    <div class="container">

      <h1 class="title">About</h1>

      <h2 class="is-bold">Purpose</h2>

      <p>
      	The LiDAR Data Visualization Tool is a highly adaptable software that creates visualizations based on user needs. This application was developed with the sole purpose to visualize and analyze LiDAR point cloud data being collected from sensors located on street lights throughout the city of Reno, Nevada. Currently, there are two active sensors located directly outside the University of Nevada, Reno campus on the corner of Virginia and 15th Street with plans to continue to expand the sensor network throughout the city. Through visualization and analysis of the data, insight and readability can be obtained and increased.
      </p>


      <h2 class="is-bold">Guide to Use App</h2>

      <p>
        This application is designed to take input from the user in the data explorer form where the user selects the sensor location, data visualization type, and data variables such as count and statistics. Once these values are selected and submitted, the user will be able to view the data visualization dashboard which will contain the data analysis based on the inputted values. The main goal is to be able to use this visualization tool to analyze traffic patterns as well as any other useful information.
      </p>


      <h2 class="is-bold">Documentation/Resources</h2>

      <p>
        This tool was developed as part of thesis research at the University of Nevada, Reno. The main web page was developed using Angular and Flask web frameworks. For additional documentation, please refer to the GitHub repository located at the following link: 
        <a href="https://github.com/amunoz247/LiDAR-DataAnalysis-and-Visualization" target="_blank">https://github.com/amunoz247/LiDAR-DataAnalysis-and-Visualization</a>
      </p>

      <!--<mat-card >
      <mat-card-header class="card-container">
        <mat-card-title class="card-container-left" >Purpose</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>
          The LiDAR Data Visualization Tool is a highly adaptable software that creates visualizations based on user needs. This application was developed with the sole purpose to visualize and analyze LiDAR point cloud data being collected from sensors located on street lights throughout the city of Reno, Nevada. Currently, there are two active sensors located directly outside the University of Nevada, Reno campus on the corner of Virginia and 15th Street with plans to continue to expand the sensor network throughout the city. Through visualization and analysis of the data, insight and readability can be obtained and increased.
        </p>
      </mat-card-content>
      </mat-card>-->

    </div>
    </div>
</section>
