<!--<a [routerLink]="['/']">
  <h1>LiDar Data Visualization Tool</h1>
</a>-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/']">
	  <h1>LiDar Data Visualization Tool</h1>
	</a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'"> Home </a>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/settings'"> Settings </a>
      <a mat-button [routerLink]="'/about'"> About </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!--<a routerLink="/cart" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Checkout
</a>-->
