<!-- * * * * * * * Content below is the main web page! * * * * * * * * * * * * * * * * * -->

<h1>LiDar Data Visualization Tool</h1>

  <table id="data">
        <tr>
            <th *ngFor="let column of headers">
                {{column}}
            </th>
        </tr>
    
        <tr *ngFor="let a of pointCloud">
            <td >
                {{a.time}}
            </td>
            <td >
                {{a.topic}}
            </td>
            <td >
                {{a.x}}
            </td>
            <td >
                {{a.y}}
            </td>
            <td >
                {{a.z}}
            </td>
            <td >
                {{a.intensity}}
            </td>
        </tr>
    
  </table>


<!-- * * * * * * * End of Code! * * * * * * * * * * * * * * * * * * * * * * * * -->
