<!-- * * * * * * * Content below is the main web page! * * * * * * * * * * * * * * * * * -->

  <!-- header -->
  <app-header></app-header>

  <!-- testing the home page -->
  <app-home></app-home>

  <!-- routes will be rendered here -->
  <router-outlet></router-outlet>

  <!-- footer -->
  <app-footer></app-footer>
  
<!-- header 
<app-header></app-header>

    <div class="bg"></div>

      <table id="data">
        <tr>
            <th *ngFor="let column of headers">
                {{column}}
            </th>
        </tr>
    
        <tr *ngFor="let a of pointCloud">
            <td >
                {{a.time}}
            </td>
            <td >
                {{a.topic}}
            </td>
            <td >
                {{a.x}}
            </td>
            <td >
                {{a.y}}
            </td>
            <td >
                {{a.z}}
            </td>
            <td >
                {{a.intensity}}
            </td>
        </tr>
    
      </table>-->

      <!-- Render Three.js Scene -->
      <!--<three-renderer color='#000000'></three-renderer>-->

<!-- footer 
<app-footer></app-footer>-->


<!-- * * * * * * * End of Code! * * * * * * * * * * * * * * * * * * * * * * * * -->
