<section class="hero is-primary is-bold">
    <div class="hero-body">
    <div class="container">

      <h1 class="title">Data Explorer Form</h1>

      <form (ngSubmit)="submit">
        <div class="form-group">
          <label for="firstname">First Name</label><br>
          <input type="text" name ="firstname" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
          <label for="lastname">Last Name</label><br>
          <input type="text" name ="lastname" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
          <label for="email">Email</label><br>
          <input type="text" name ="email" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
          <label for="password">Password</label><br>
          <input type="text" name ="password" class="form-control" ngModel>
        </div>
      </form>
      <pre></pre>
      <button mat-raised-button color="primary" type="submit">Submit</button>

    </div>
    </div>
</section>

