.centered {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  }

label {
  display:flex;
  flex-direction:column;
}

mat-form-field {
  width: 100%;
}

mat-label {
  position: relative;
}

select {
  width:  100%;
}

#rcorners {
  background: rgb(0, 27, 148, 0.2);
  width: 50%;
  border-radius: 15px;
  border: 2px double black;
  box-shadow: 5px 5px 2.5px grey;
}