.centered {
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 25px;
   padding-right: 25px;
}

.mat-form-field-label {
  color: rgba(0,0,0,.6);
}

label {
  display:flex;
  flex-direction:column;
}

mat-form-field {
  width: 100%;
}

mat-label {
  position: relative;
}

select {
  width:  100%;
}

#rcorners {
     background: rgb(0, 27, 148, 0.2);
     border-radius: 15px;
   }