/* Hero container that sets background image */
.hero {
  background-image: url('/assets/imgs/sierra_nevada_mountains.jpg') !important;
  height: 950px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

/* Centers content */
.centered {
  margin: 0 auto;
}

/* Sets Form Field to go full width of Form */
mat-form-field {
  width: 100%;
}

/* Gives form rounded corners and padding of elements inside the form. Also gives form a border */
#rcorners {
  background: rgb(255, 255, 255, 0.9);
  height: 55%;
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  border: 1px double black;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}